<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include("../partials/header") %> 
    <div>login</div>
    <h1>maxim</h1>

    <%- include("../partials/footer") %> 

</body>
</html>